name: "Continuous Integration"

on:
    pull_request:
        branches:
            - "*.x"
    push:
        branches:
            - "*.x"

jobs:
    phpunit:
        name: "PHPUnit"
        runs-on: "ubuntu-20.04"
        env:
            SYMFONY_DEPRECATIONS_HELPER: ${{matrix.symfony-deprecations-helper}}

        strategy:
            fail-fast: false
            matrix:
                php-version:
                    - "7.4"
                    - "8.0"
                    - "8.1"
                    - "8.2"
                dependencies:
                    - "lowest"
                    - "highest"
                stability:
                    - "stable"
                symfony-deprecations-helper:
                    - ""
                include:
                    # Tests the lowest set of dependencies
                    -   php-version: "7.4"
                        dependencies: "lowest"
                        stability: "stable"
                        symfony-deprecations-helper: "weak"

                    # Test against highest set of dependencies
                    -   php-version: "8.3"
                        dependencies: "highest"
                        stability: "dev"
                        symfony-deprecations-helper: "weak"

        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v4"
                with:
                    fetch-depth: 2

            -   name: "Install PHP with PCOV"
                uses: "shivammathur/setup-php@v2"
                with:
                    php-version: "${{ matrix.php-version }}"
                    coverage: "pcov"
                    ini-values: "zend.assertions=1"

            -   name: "Enforce using stable dependencies"
                run: "composer config minimum-stability stable"
                if: "${{ matrix.stability == 'stable' }}"

            -   name: "Install dependencies with Composer"
                uses: "ramsey/composer-install@v2"
                with:
                    dependency-versions: "${{ matrix.dependencies }}"
                    composer-options: "--prefer-dist"

            -   name: "Run PHPUnit"
                run: "vendor/bin/simple-phpunit --coverage-clover=coverage.xml"

            -   name: "Upload coverage file"
                uses: "actions/upload-artifact@v4"
                with:
                    name: "phpunit-${{ matrix.php-version }}-${{ matrix.dependencies }}-${{ matrix.stability }}-${{ matrix.symfony-deprecations-helper }}-${{ hashFiles('composer.lock') }}.coverage"
                    path: "coverage.xml"
                    if-no-files-found: "ignore"

    upload_coverage:
        name: "Upload coverage to Codecov"
        runs-on: "ubuntu-20.04"
        needs:
            - "phpunit"

        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v4"
                with:
                    fetch-depth: 2

            -   name: "Download coverage files"
                uses: "actions/download-artifact@v4"
                with:
                    path: "reports"

            -   name: "Upload to Codecov"
                uses: "codecov/codecov-action@v4"
                with:
                    directory: reports
